*{
    padding: 0;
    margin:0;
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    display: flexbox;
    outline: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

ol li{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
.content{
    top: 50%;
    left: 8%;
    background-color: black;
    opacity: 0.5;
    padding: 55px ;
    display: block;   
}

body{
    background: url(./assests/pexels-nemuel-sereti-6424589.jpg);
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

section {
    padding: 2rem;
  }

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

.About{
    width: 100%;
    padding: 20px;
    background-color: #191919;
}
.About img{
    height: auto;
    width: 430px;
}

.About h2{
    color: white;
}

.about-text{
    width: 550px;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h4{
    letter-spacing:2px ;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 70%;
}

.table{
    opacity: 50%;
}
tr{
    color: white;
}



.train{
    background: black;
}
.he{
    color: aliceblue;
}
ul{
    color: aliceblue;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }
  section p {
    margin-bottom: 1.5rem;
  }

  section ul {
    list-style: square;
  } 

  hr{
    height: 1px;
    background-color: black;
    border: none;
}


.contact-left{
    background-color: black;
    opacity: 50%;
}

.lead{
    color: #fff;
}

.title{
    color: white;
}

.Education-Heading{
    background-color: #191919;
}

.Education{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.Training{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.Skills{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

#container-fluid{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}



