*{
    padding: 0;
    margin:0;
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    display: flexbox;
}

ol li{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.content{
    top: 50%;
    left: 8%;
    background-color: black;
    opacity: 0.5;
    padding: 55px ;
    display: block;   
}

body{
    background: url(./assests/pexels-nemuel-sereti-6424589.jpg);
    background-size: cover;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.About img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h4{
    letter-spacing:2px ;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 70%;
}

.table{
    opacity: 50%;
}
tr{
    color: brown;
}

.contact{
    top: 50%;
    left: 8%;
    background-color: black;
    opacity: 50%;
    padding: 55px ;
    display: block;   
}

.train{
    background: black;
}
.he{
    color: aliceblue;
}
ul{
    color: aliceblue;
}

